## Análisis y Visualizción - Mentoría

In [3]:
import pandas as pd
import seaborn as sns

In [4]:
dt = pd.read_csv('../dataset/data_review.csv')

### Conociendo como está formado el dataset

In [5]:
# Poder investigar rápidamente el tipo de datos con los que vamos a trabajar
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
rating    100000 non-null int64
title     99999 non-null object
review    100000 non-null object
target    93225 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.1+ MB

In [6]:
# Tomamos contacto con los primeros datos.
dt.head()

,rating,title,review,target
0,5,.............Am I in Midgard anymore ?,I was so disappointed to find she has not writ...,1.0
1,1,Zip wax new formula is just horrible.,I've been using zip wax for many years. It was...,0.0
2,5,Apatow's Depth Triumphs,I am a stand-up fanatic. I enjoy the alternati...,1.0
3,1,Dream of C.,It is to bad such talented illustrations are i...,0.0
4,1,it doesnt suck.,this product doesnt vaccum out the air I was d...,0.0

### Desarrollo de ejercicios

In [15]:
sub_dt = dt[['rating', 'target']]
sub_dt.apply(lambda x: x.fillna(x.mean()))

       rating    target
0           5  1.000000
1           1  0.000000
2           5  1.000000
3           1  0.000000
4           1  0.000000
5           2  0.000000
6           5  1.000000
7           2  0.000000
8           5  1.000000
9           5  1.000000
10          5  1.000000
11          5  1.000000
12          5  1.000000
13          5  1.000000
14          5  1.000000
15          5  1.000000
16          5  1.000000
17          3  0.785036
18          5  1.000000
19          5  1.000000
20          5  1.000000
21          5  1.000000
22          1  0.000000
23          5  1.000000
24          2  0.000000
25          5  1.000000
26          5  1.000000
27          3  0.785036
28          5  1.000000
29          3  0.785036
...       ...       ...
99970       1  0.000000
99971       2  0.000000
99972       4  1.000000
99973       5  1.000000
99974       4  1.000000
99975       3  0.785036
99976       5  1.000000
99977       5  1.000000
99978       3  0.785036
99979       3  0.785036
99980       5  1.000000
99981       5  1.000000
99982       2  0.000000
99983       5  1.000000
99984       3  0.785036
99985       5  1.000000
99986       5  1.000000
99987       5  1.000000
99988       4  1.000000
99989       2  0.000000
99990       1  0.000000
99991       1  0.000000
99992       5  1.000000
99993       5  1.000000
99994       5  1.000000
99995       4  1.000000
99996       3  0.785036
99997       5  1.000000
99998       1  0.000000
99999       4  1.000000

[100000 rows x 2 columns]